*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}

body{
    background-color:#94d9ea;
}

.main-content{
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.left-section{
    grid-column: span 2;
    height: 100%;
    background-color: #00324a;
}

.right-section{
    grid-column: span 5;
    height: 100%;
    background-color: #f7f7f7;
}

.left-content{
    padding: 2rem 3rem;

}
.profile{
    width: 100%;
    border-bottom: 2px solid #002333;
}
.image{
    width: 100%;
    text-align: center;
}
.profile img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 8px solid #002333;
}
.name{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
}

.career{
    font-size: 1.2rem;
    color: #94d9ea;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.main-title{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f7f7ec;
    padding-top: 3rem;
}

.contact-info ul{
    padding-top: 1rem;
}

.contact-info ul li{
    padding: 0.2rem 0;
    display: flex;
    align-items: center;
    color: #718096;
}
.contact-info ul li i{
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #2d9cdb;
}
.skills-section ul{
    padding-top: 2rem;
}

.skills-section ul li{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0.4rem 0;
}

.progress-bar{
    width: 100%;
    height: 0.4rem;
    background-color: #2d3748;
    position: relative;
    border-radius: 12px;
}

.progress{
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #2d9cdb;
    border-radius: 12px;
}
.html-progress{
    width: 83%;
}
.css-progress{
    width: 80%;
}
.js-progress{
    width: 75%;
}
.c-progress{
    width: 75%;
}
.java-progress{
    width: 80%;
}

.skill-title{
    text-transform: uppercase;
    color: #f7f7f7;
    font-size: 1rem;
}

.right-main-content{
    padding: 2rem 3rem;
}

.right-title{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2f80ed;
    margin-bottom: 1.1rem;
}

.para{
    line-height: 1.6rem;
    font-size: 1.1rem;
    color: #718096;
}

.sect{
    padding-bottom: 2rem;
}

.timeline{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.t1-title{
    letter-spacing: 1px;
    font-size:1.3rem;
    color: #002333;
    text-transform: uppercase;
}

.t1-title-2{
    letter-spacing: 1px;
    font-size:1.4rem;
    color: #2d9cdb;
    text-transform: uppercase;
}

.t1-content{
    border-left: 1px solid #ccc;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.t1-title-2::before{
    content: "";
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #2d9cdb;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}

.right-title::after{
    content: "";
    position: absolute;
    width: 30%;
    height: .2rem;
    background-color:#ccc ;
    border-radius: 12px;
    right: 15%;
    transform: translateY(50%);
}

@media screen and (max-width:823px){
    .right-title::after{
        width: 20%;
    }
}

@media screen and (max-width:680px){
    .right-title::after{
        width: 5%;
    }
}
@media screen and (max-width:850px){
    .timeline{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width:850px){
    .left-section{
        grid-column: span 3;
    }
    .right-section{
        grid-column: span 4;
    }
}

@media screen and (max-width:1000px){
    .main-content{
        grid-template-columns: repeat(1,1fr);
    }
    .profile img{
        width: 40%;
    }
}
